@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=Ibarra+Real+Nova:ital@0;1&family=Raleway&display=swap');

:root {
    --font-heading: "Ibarra Real Nova", serif;
    --font-text: "Raleway", sans-serif;
    --font-accent: "IBM Plex Mono", monospace;

    --clr-black: #222;;
    --clr-white: #ccc;
    --clr-magenta-lt: #fd6ffd;
    --clr-denim-lt: #ada3f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-text);
    background-color: var(--clr-black);
    color: var(--clr-white)

}

h1, h2, h3 {
    font-family: var(--font-heading);
    color: var(--clr-magenta-lt);
}

h2, h3 {
    color: var(--clr-denim-lt);
}

a, li {
    font-family: var(--font-accent);
    color: var(--clr-denim-lt);
}

img {
    width: 90%;
}
    
a {
        text-decoration: none;
        font-size: 1.4rem;
    }

a:hover {
        color: var(--clr-white);
        text-decoration: underline;
    }